<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Infix Evaluator</title>
        <link rel="stylesheet" href="/styles/app.css" />
        <script
			  src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>
    </head>
    <body><div class="app">
        <h1>{{title}}</h1>
        {{{content}}}
    </div></body>
    <script src="/scripts/app.js"></script>
</html>
